asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.3
backcall==0.2.0
boto3==1.14.41
botocore==1.17.41
braintree==4.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
Django==3.1
django-appconf==1.0.4
django-crispy-forms==1.9.1
django-filter==2.4.0
django-select2==7.4.2
django-sequences==2.5
django-static-fontawesome==5.12.1.4
django-storages==1.9.1
django-taggit==2.0.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.1

