{% load static %} 
{% load i18n %}

<nav class="navbar shadow navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home:index' %}"><strong>ACME</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:index' %}">Dashboard</span></a>
            </li>
            <li class="nav-item">
                {% comment %} clientes não possui funcionalidade {% endcomment %}
                <a class="nav-link" href="{% url 'home:index' %}">Clientes</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="{% url 'home:index' %}" class="dropdown-item"><span class="text-dark">Dashboard</span></a>
                    <a href="#" class="dropdown-item"><span class="text-dark">Clientes</span></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><span class="text-dark">Sair</span></a>
                </div>
            </li>
        </ul>
      </div>
    </div>
</nav>

